<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>"Python + Javascript = D:"</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    {% block headincl %}{% endblock %}
  </head>
  <body>
    <div>Get back to where you once belonged: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
