{% extends "base.html" %}
{% block headincl %}
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div id="lc">
    <h2>Regular Line Chart</h2>
    <div id="mylinechart" style="height: 300px; width: 100%;"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/canvas_line.js') }}"></script>
    <script>
     make_canvas_line_plot({{ linejson | safe }}, "mylinechart")
    </script>
</div>
<div id="bc">
    <h2>Bar Chart with Tooltip</h2>
    <div id="mybarchart" style="height: 450px; width: 100%;"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/canvas_bar.js') }}"></script>
    <script>
     make_canvas_bar_plot({{ barjson | safe }}, "mybarchart")
    </script>
</div>
<div id="summary">
    <h2>Summary</h2>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <script>
     render_summary_markdown(
         "{{ url_for('static', filename='md/canvas.md') }}",
         '#summary'
     )
    </script>
</div>
<div class="todo">
    <h4>TODO:</h4>
    <ul>
        <li><s>line chart</s></li>
        <li><s>bar chart</s></li>
        <li><s>zoom</s></li>
        <li><s>map</s></li>
        <li><s>3d scatter</s></li>
    </ul>
</div>
{% endblock %}
