{% extends "base.html" %}
{% block headincl %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div id="lc">
    <h2>Regular Line Chart</h2>
    <canvas id="mylinechart" width="400" height="400"></canvas>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/chartjs_line.js') }}"></script>
    <script>
     make_chartjs_line_plot({{ linejson | safe }}, "#mylinechart")
    </script>
</div>
<div id="bc">
    <h2>Bar Chart with Tooltip</h2>
    <canvas id="mybarchart"></canvas>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/chartjs_bar.js') }}"></script>
    <script>
     make_chartjs_bar_plot({{ barjson | safe }}, "#mybarchart")
    </script>
</div>
<div id="lcz">
    <h2>Line Chart with Zoom Box</h2>
    <p>It actually appears this is not possible...</p>
</div>
<div id="choro">
    <h2>Choropleth</h2>
    <p>This is not possible either...</p>
</div>
<div id="3ds">
    <h2>3D Scatter Plot</h2>
    <p>And neither is this...</p>
</div>
<div id="summary">
    <h2>Summary</h2>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <script>
     render_summary_markdown(
         "{{ url_for('static', filename='md/chartjs.md') }}",
         '#summary'
     )
    </script>
</div>
<div class="todo">
    <h4>TODO:</h4>
    <ul>
        <li><s>line chart</s></li>
        <li><s>bar chart</s></li>
        <li><s>zoom</s></li>
        <li><s>map</s></li>
        <li><s>3d scatter</s></li>
    </ul>
</div>
{% endblock %}
