{% extends "base.html" %}
{% block headincl %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
<!-- needed for bar charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.categories.js"></script>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div id="lc">
    <h2>Regular Line Chart</h2>
    <div id="mylinechart" style="width:600px;height:300px"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/flot_line.js') }}"></script>
    <script>
     make_flot_line_plot({{ linejson | safe }}, "#mylinechart")
    </script>
</div>
<div id="bc">
    <h2>Bar Chart with Tooltip</h2>
    <div id="mybarchart", style="width:600px;height:300px"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/flot_bar.js') }}"></script>
    <script>
     make_flot_bar_plot({{ barjson | safe }}, "#mybarchart")
    </script>
</div>
<div id="lcz">
    <h2>Line Chart with Zoom Box</h2>
    <p>This is possible, but not easy.</p>
</div>
<div id="summary">
    <h2>Summary</h2>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <script>
     render_summary_markdown(
         "{{ url_for('static', filename='md/flot.md') }}",
         '#summary'
     )
    </script>
</div>
<div class="todo">
    <h4>TODO:</h4>
    <ul>
        <li><s>line chart</s></li>
        <li><s>bar chart</s></li>
        <li><s>zoom</s></li>
        <li><s>map</s></li>
        <li><s>3d scatter</s></li>
    </ul>
</div>
{% endblock %}
