{% extends "base.html" %}
{% block headincl %}
<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>

<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<link rel="stylesheet" type="text/css"
      "href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div id="lc">
    <h2>Regular Line Chart</h2>
    <div id="mylinechart"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/highcharts_line.js') }}"></script>
    <script>
        make_highcharts_line_plot({{ linejson | safe }}, "#mylinechart")
    </script>
</div>
<div id="bc">
    <h2>Bar Chart with Tooltip</h2>
    <div id="mybarchart"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/highcharts_bar.js') }}"></script>
    <script>
     make_highcharts_bar_plot({{ barjson | safe }}, "#mybarchart")
    </script>
</div>
<div id="lcz">
    <h2>Line Chart with Zoom Box</h2>
    <div id="mylinechartwithzoom"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/highcharts_zoom.js') }}"></script>
    <script>
     make_highcharts_linezoom_plot({{ linejson | safe }}, "#mylinechartwithzoom")
    </script>
</div>
<div id="choro">
    <h2>Choropleth</h2>
    <div id="mychoropleth"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/highcharts_choropleth.js') }}"></script>
    <script>
     make_highcharts_choropleth({{ statejson | safe }}, "#mychoropleth")
    </script>
</div>
<div id="3ds">
    <h2>3D Scatter Plot</h2>
    <div id="3dscatter"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/highcharts_3dscatter.js') }}"></script>
    <script>
     make_highcharts_3dscatter({{ statejson | safe }}, "3dscatter")
    </script>
</div>
<div id="summary">
    <h2>Summary</h2>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <script>
     render_summary_markdown(
         "{{ url_for('static', filename='md/highcharts.md') }}",
         '#summary'
     )
    </script>
</div>
<div class="todo">
    <h4>TODO:</h4>
    <ul>
        <li><s>bar chart</s></li>
        <li><s><a href="http://bl.ocks.org/jroetman/9b4c0599a4996edef0ab">band zoom</a></s></li>
        <li><s>map</s></li>
        <li><s>3d scatter</s></li>
    </ul>
</div>
{% endblock %}
