{% extends "base.html" %}
{% block headincl %}
<script src="http://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.min.js"></script>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div id="lc">
    <h2>Regular Line Chart</h2>
    <p>
        Inline sparkline: <span id="mylinechart"></span>
    </p>
    <script type="text/javascript">
     $("#mylinechart").sparkline({{ linejson | safe }});
    </script>
</div>
<div id="bc">
    <h2>Regular Bar Chart</h2>
    <p>
        Inline barchart: <span id="mybarchart"></span>
    </p>
    <script type="text/javascript">
     $("#mybarchart").sparkline(
         {{ barjson | safe }},
         {type: 'bar', barColor: 'green'}
     );
    </script>
</div>
<div id="summary">
    <h2>Summary</h2>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <script>
     render_summary_markdown(
         "{{ url_for('static', filename='md/jqsparklines.md') }}",
         '#summary'
     )
    </script>
</div>
<div class="todo">
    <h4>TODO:</h4>
    <ul>
        <li><s>line chart</s></li>
        <li><s>bar chart</s></li>
        <li><s>zoom</s></li>
        <li><s>map</s></li>
        <li><s>3d scatter</s></li>
    </ul>
</div>
{% endblock %}
